@page "{id:min(1)}"
@model RegisterPage.Pages.Credentials.EditModel

@{
    ViewData["Title"] = "Edit";
}
@if(@Model.Role == "Teacher"){
	<style>
		.StudentView{display: none;}
	</style>
}
else{
	<style>
		.TeacherView{display: none;}
	</style>
}
<!--Styling for this page-->
<style>
    h3{background-color: #40531B;
        padding: 5px;
        margin: 5px;}

    .card {
        margin: 30px auto;
        width: 80%;
    }

    .form-group {
        margin-bottom: 1.5rem;
    }

        .form-group label {
            font-weight: bold;
            margin-bottom: 8px;
            font-size: 1.1rem;
        }

    .input-group {
        margin-bottom: 1rem;
    }

    input.form-control, select.form-control {
        border-radius: 8px;
        border: 1px solid #ddd;
        padding: 10px;
    }
</style>

<!--external style sheet-->
<link rel="stylesheet" href="~/css/courseStyle.css" />

<h1>Edit Profile Information</h1>

<div class="card">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Register.Id" />
                <input type="hidden" asp-for="Register.username" />
                <input type="hidden" asp-for="Register.password" />
                <input type="hidden" asp-for="Register.confirmpassword" />
                <input type="hidden" asp-for="Register.role" />
                <div class="form-group">
                    <label asp-for="Register.firstname" class="control-label">First Name</label>
                    <input asp-for="Register.firstname" class="form-control" />
                    <span asp-validation-for="Register.firstname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Register.lastname" class="control-label">Last name</label>
                    <input asp-for="Register.lastname" class="form-control" />
                    <span asp-validation-for="Register.lastname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Register.PhoneNum" class="control-label">Phone Number</label>
                    <input asp-for="Register.PhoneNum" class="form-control" />
                    <span asp-validation-for="Register.PhoneNum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Register.dob" class="control-label">Date Of Birth</label>
                    <input asp-for="Register.dob" class="form-control" />
                    <span asp-validation-for="Register.dob" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Register.Street" class="control-label">Street</label>
                    <input asp-for="Register.Street" class="form-control" />
                    <span asp-validation-for="Register.Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Register.City" class="control-label">City</label>
                    <input asp-for="Register.City" class="form-control" />
                    <span asp-validation-for="Register.City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Register.State" class="control-label">State</label>
                    <input asp-for="Register.State" class="form-control" />
                    <span asp-validation-for="Register.State" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Register.ZipCode" class="control-label">Zip Code</label>
                    <input asp-for="Register.ZipCode" class="form-control" />
                    <span asp-validation-for="Register.ZipCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-custom btn-submit" />
                    <a asp-page="/Profile" class="btn btn-custom btn-edit">Back to Profile</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
